<launch>
    <node name="sintel_in_ros" pkg="ros_libvlc" type="ros_libvlc">
        <param name="src" value="http://walterebert.com/playground/video/hls/sintel-trailer.m3u8" />
    </node>
    <node name="screen_capture" pkg="ros_libvlc" type="ros_libvlc">
        <param name="src" value="screen://" />
    </node>
    <node name="webcam" pkg="ros_libvlc" type="ros_libvlc">
        <param name="src" value="v4l2:///dev/video0" />
    </node>
    <node name="image_viewer" pkg="rqt_image_view" type="rqt_image_view" required="true">
    </node>
</launch>